<!-- node socketIO on event -->
<script type="text/javascript">
  RED.nodes.registerType("socketio-receive", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
      socketid: {
        value: "",
      },
      swaggerDoc: {
        type: "swagger-doc",
        required: false,
      },
    },
    inputs: 0,
    outputs: 1,
    icon: "bridge.png",
    icon: "font-awesome/fa-share",
    label: function () {
      return (
        this.name ||
        `ON «${
          this.socketid && this.socketid.length ? this.socketid : "no event id"
        }»`
      );
    },
    oneditprepare: function () {
      if (!RED.nodes.getType("swagger-doc")) {
        $(".row-swagger-doc").hide();
      }
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-receive">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-socketid"><i class="fa fa-tag"></i> Event name</label>
    <input type="text" id="node-input-socketid" placeholder="Event name">
  </div>
  <div class="form-row row-swagger-doc">
    <label for="node-input-swaggerDoc"><i class="fa fa-file-text-o"></i> <span>Doc</span></label>
    <input type="text" id="node-input-swaggerDoc">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-receive">
  <p>Socket IO on event node</p>
</script>

<!-- nodo socketIO reply -->
<script type="text/javascript">
  RED.nodes.registerType("socketio-reply", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
      sockettype: {
        value: "",
      },
      socketid: {
        value: "",
      },
      payloadkey: {
        value: "payload",
      },
      room: {
        value: "",
      },
      swaggerDoc: {
        type: "swagger-doc",
        required: false,
      },
    },
    inputs: 1,
    outputs: 0,
    icon: "bridge.png",
    icon: "font-awesome/fa-reply",
    label: function () {
      return this.name || `REPLY «${this.sockettype || "by setup"}»`;
    },
    oneditprepare: function () {
      var node = this;
      var sockettype = $("#node-input-sockettype");
      var setOptionsVisibility = function (val) {
        var socketidRow = $("#node-input-socketid").parent(".form-row");
        var payloadkeyRow = $("#node-input-payloadkey").parent(".form-row");
        var roomRow = $("#node-input-room").parent(".form-row");
        if ("" !== val) {
          socketidRow.show(0);
          payloadkeyRow.show(0);
        } else {
          socketidRow.hide(0);
          payloadkeyRow.hide(0);
        }
        if ("room" === val) {
          roomRow.show(0);
        } else {
          roomRow.hide(0);
        }
      };
      setOptionsVisibility(sockettype.val());
      sockettype.on("change", function () {
        setOptionsVisibility($(this).val());
      });
      if (!RED.nodes.getType("swagger-doc")) {
        $(".row-swagger-doc").hide();
      }
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-reply">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-sockettype"><i class="fa fa-tag"></i> Method</label>
    <select id="node-input-sockettype">
      <option value="">Defined by setup</option>
      <option value="broadcast.emit">Broadcast</option>
      <option value="emit">Emit</option>
      <option value="room">Room</option>
      <option value="all">All</option>
    </select>
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-socketid"><i class="fa fa-tag"></i> Event topic</label>
    <input type="text" id="node-input-socketid" placeholder="Optional event topic">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-payloadkey"><i class="fa fa-tag"></i> Payload key</label>
    <input type="text" id="node-input-payloadkey" placeholder="Optional custom payload key">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Optional custom room name">
  </div>
  <div class="form-row row-swagger-doc">
    <label for="node-input-swaggerDoc"><i class="fa fa-file-text-o"></i> <span>Doc</span></label>
    <input type="text" id="node-input-swaggerDoc">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-reply">
  <p>Socket IO reply node</p>
</script>

<!-- node socketIO join, join a room-->
<script type="text/javascript">
  RED.nodes.registerType("socketio-join", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
      overwriteroom: {
        value: "",
      },
      room: {
        value: "",
      },
    },
    inputs: 1,
    outputs: 0,
    icon: "font-awesome/fa-sign-in",
    label: function () {
      return this.name || `JOIN ROOM «${this.room || "by setup"}»`;
    },
    oneditprepare: function () {
      var node = this;
      var room = $("#node-input-room").parent(".form-row");
      room.hide(0);
      $("#node-input-overwriteroom").on("change", function () {
        if ($(this).is(":checked")) {
          room.show(0);
        } else {
          room.hide(0);
        }
      });
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-join">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-overwriteroom"><i class="fa fa-tag"></i> Set room</label>
    <input type="checkbox" id="node-input-overwriteroom" style="width:auto">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Room name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-join">
  <p>Socket IO Join node</p>
</script>

<!-- node socketIO leave, leave a room-->
<script type="text/javascript">
  RED.nodes.registerType("socketio-leave", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
      overwriteroom: {
        value: "",
      },
      room: {
        value: "",
      },
    },
    inputs: 1,
    outputs: 0,
    icon: "font-awesome/fa-sign-out",
    label: function () {
      return this.name || `LEAVE ROOM «${this.room || "by setup"}»`;
    },

    oneditprepare: function () {
      var node = this;
      var room = $("#node-input-room").parent(".form-row");
      room.hide(0);
      $("#node-input-overwriteroom").on("change", function () {
        if ($(this).is(":checked")) {
          room.show(0);
        } else {
          room.hide(0);
        }
      });
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-leave">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-overwriteroom"><i class="fa fa-tag"></i> Set room</label>
    <input type="checkbox" id="node-input-overwriteroom" style="width:auto">
  </div>
  <div class="form-row" style="display:none;">
    <label for="node-input-room">Room name</label>
    <input type="text" id="node-input-room" placeholder="Room name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-leave">
  <p>Socket IO Leave node</p>
</script>

<!-- node socketIO register user -->
<script type="text/javascript">
  RED.nodes.registerType("socketio-register", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-user-plus",
    label: function () {
      return this.name || `Register User`;
    },

    oneditprepare: function () {
      var node = this;
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-register">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-register">
  <p>Socket IO Leave node</p>
</script>

<!-- node socketIO unregister user -->
<script type="text/javascript">
  RED.nodes.registerType("socketio-unregister", {
    category: "SocketIO",
    color: "rgb(215, 215, 160)",
    defaults: {
      name: {
        value: "",
      },
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-user-times",
    label: function () {
      return this.name || `Unregister User`;
    },

    oneditprepare: function () {
      var node = this;
    },
  });
</script>

<script type="text/x-red" data-template-name="socketio-unregister">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/x-red" data-help-name="socketio-unregister">
  <p>Socket IO Leave node</p>
</script>
